

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <title>Login</title>

    <link rel='icon' type='image/png' href="{% static 'frontend/favicon.png' %}"> <!-- <-- here -->
    <link rel='stylesheet' href="{% static 'frontend/global.css' %}"> <!-- <-- here -->
    <link rel='stylesheet' href="{% static 'frontend/bundle.css' %}"> <!-- <-- here -->

    <script defer src="{% static 'frontend/bundle.js' %}"></script> <!-- <-- here -->
	{% comment %} %sveltekit.head% {% endcomment %}
</head>
<body style="margin:0;padding:0;overflow-x:hidden;background-color: #E8E8E8;">
	{% comment %} <div>%sveltekit.body%</div> {% endcomment %}
    
</body>
</html>

{% load static %}