{% extends "./index.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    
   

    <link rel='icon' type='image/png' href="{% static 'frontend/favicon.png' %}"> <!-- <-- here -->
    <link rel='stylesheet' href="{% static 'frontend/global.css' %}"> <!-- <-- here -->
    <link rel='stylesheet' href="{% static 'frontend/bundle.css' %}"> <!-- <-- here -->

    <script defer src="{% static 'frontend/bundle.js' %}"></script> <!-- <-- here -->
    
    <title>Home</title>
	{% comment %} %sveltekit.head% {% endcomment %}
</head>

<body style="margin:0;padding:0;overflow-x:hidden;background-color: #E8E8E8;">
	{% comment %} <div>%sveltekit.body%</div> {% endcomment %}
  
{% comment %} {% block content %}
{% endblock %} {% endcomment %}


</body>

</html>
{% block content %}
<script>
  console.log(document.getElementsByClassName('Nav'))
  let counter = 0;
  {% for club in clubs %}
  counter += 1;
  var info_box = document.getElementById('info');
  console.log(document.getElementById('info'));
  console.log(info_box);
  {% comment %} console.log(info_box.getElementsByTagName('h1')) {% endcomment %}
  {% comment %} info_box.getElementsByTagName('h1')[0].innerHTML = club.club_name; {% endcomment %}
  console.log("club")
  {% endfor %}
</script>
{% endblock %}