{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    
   

    <link rel='icon' type='image/png' href="{% static 'frontend/favicon.png' %}"> <!-- <-- here -->
    <link rel='stylesheet' href="{% static 'frontend/global.css' %}"> <!-- <-- here -->
    <link rel='stylesheet' href="{% static 'frontend/bundle.css' %}"> <!-- <-- here -->

    <script defer src="{% static 'frontend/bundle.js' %}"></script> <!-- <-- here -->
    
    <title>Home</title>
	{% comment %} %sveltekit.head% {% endcomment %}
</head>

<body onload="load()" style="margin:0;padding:0;overflow-x:hidden;background-color: #E8E8E8;">
	{% comment %} <div>%sveltekit.body%</div> {% endcomment %}
  
{% comment %} {% block content %}
{% endblock %} {% endcomment %}


</body>

</html>
<script>
  function load() {
    let all_clubs = document.getElementsByClassName("text")
    let imgsTags = document.getElementsByClassName("suggest-img")
    var counter = 0;
    {% for club in clubs %}
    console.log(all_clubs[counter].getElementsByTagName("h1")[0])
    all_clubs[counter].getElementsByTagName("h1")[0].innerHTML = '{{ club.club_name }}';
    all_clubs[counter].getElementsByTagName("p")[0].innerHTML = '{{ club.breif }}';
    counter+=1;
    {% endfor %}
    counter = 0
    {% for img in images %}
    if ("{{ img.photo }}" != "") {
    imgsTags[counter].src = '../media/{{ img.photo }}';
    }
    counter+=1;
    {% endfor %}
  }
</script>