{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    
   

    <link rel='icon' type='image/png' href="{% static 'frontend/favicon.png' %}"> <!-- <-- here -->
    <link rel='stylesheet' href="{% static 'frontend/global.css' %}"> <!-- <-- here -->
    <link rel='stylesheet' href="{% static 'frontend/bundle.css' %}"> <!-- <-- here -->

    <script defer src="{% static 'frontend/bundle.js' %}"></script> <!-- <-- here -->
    
    <title>Home</title>
	{% comment %} %sveltekit.head% {% endcomment %}
</head>
{% block onload %}
<body onload="load()" style="margin:0;padding:0;overflow-x:hidden;background-color: #E8E8E8;">

	{% comment %} <div>%sveltekit.body%</div> {% endcomment %}
  
{% comment %} {% block content %}
{% endblock %} {% endcomment %}


</body>
{% endblock %}
</html>

<script>

  function load() {
    if (window.location.href.includes("home")) {
    let all_clubs = document.getElementsByClassName("text")
    let imgsTags = document.getElementsByClassName("suggest-img")
    var counter = 0;
    {% for club in clubs %}
    console.log(all_clubs[counter].getElementsByTagName("h1")[0])
    all_clubs[counter].getElementsByTagName("h1")[0].innerHTML = '{{ club.club_name }}';
    all_clubs[counter].getElementsByTagName("p")[0].innerHTML = '{{ club.breif }}';
    counter+=1;
    {% endfor %}
    counter = 0
    {% for img in images %}
    if ("{{ img.photo }}" != "") {
    imgsTags[counter].src = '../media/{{ img.photo }}';
    }
    counter+=1;
    
    {% endfor %}
    let carouselTags = document.getElementsByClassName("carousel-img")
    counter = 0
    {% for img in c_images %}
    console.log("../media/{{ img.photo }}")
    if ("{{ img.photo }}" != "") {
      
      carouselTags[counter].src = '../media/{{ img.photo }}';
      console.log(carouselTags[counter].src)
      }
      counter += 1
      {% endfor %}
      let all_c_clubs = document.getElementsByClassName("info");
      counter = 0
      {% for c in c_clubs %}
      all_c_clubs[counter].getElementsByTagName("h1")[0].innerHTML = '{{ c.club_name }}';
      all_c_clubs[counter].getElementsByTagName("p")[0].innerHTML = '{{ c.breif }}';
      counter +=1
      {% endfor %}
      console.log( all_c_clubs[0]);
      console.log( all_c_clubs[1]);
      console.log( all_c_clubs[2]);
    }
    else if (window.location.href.includes("club")) {
      document.getElementsByClassName("club")[0].innerHTML = "{{ Name }}"
      var counter = 0;
      {% for img in Images%}
      console.log("test")
      if (counter == 0) {
      document.getElementsByClassName("mainimg")[0].src = "../media/{{ img.photo }}"
      }
      document.getElementsByClassName("img")[0].src = "../media/{{ img.photo }}"
      counter+= 1
  
      {% endfor %}
      document.getElementsByClassName("textarea")[0].innerHTML = "{{ breif }}"
    }
  }
  
</script>
