body {
	background-color: c1c1c1;
}
.Nav {
	width: 80%;
	height: 10%;
	position: fixed;
	background-color: blue;
	border-radius: 50px;
	display: flex;
	flex-wrap: nowrap;
	margin-left:10%;
}
.Nav > div {
	/* order: 0; */
	flex-direction: row;
	text-align: center;
	margin-left: 16%;
	margin-top:2%;
}